# Ignorar archivos de estado de Terraform (tienen credenciales)
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.pem

# Ignorar archivos de entorno de Docker
.env
.pem

# Ignorar llaves SSH generadas localmente
n8n_key*
nueva_llave_softkafe*